html, body {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0;
  width: 100%;
  height:100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
