/* d3 node-link diagram */
.link {
  stroke: #ccc;
}
.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
#forcenet {
  margin-top: 10px;
  height: 500px;
}

/* d3.parcoord */
.parcoords {
  width:100%;
  height:400px;
}
#linnetpcp {
  display: none;
}

#pcp-hint {
  display: none;
}

/* d3 hiveplot */
#hiveplot {
  height: 500px;
}

/* Result table css */
#result-table  {
  display: none;
  margin-top: 10px;
}

/* Input section title and the help info links */
.input-section-label {
  margin-right: 10px;
}

.input-info-sign {
  margin-right: 10px;
}

/* results table mods */
.scrollable-table {
  overflow: auto;
}
